<div th:fragment="kyso_folder">
  <!--Popup-->
  <!-- Modal Structure -->
  <div id="kySoFolderModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <!-- form start -->
      <form role="form" method="post" action="#" id="form_kysofolder" enctype="multipart/form-data">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Ký số folder</h4>
          </div>
          <div class="modal-body">
            <div class="box-body">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Upload folder chứa tài liệu cần ký</h3>
                </div>
                <div class="box-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 20px;padding-bottom: 20px;padding-left: 10px;">
                        <input
                                name="folder_ky" type="file" class="form-control" id="folder_ky"
                                webkitdirectory multiple>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Cấu hình ký số được áp dụng</h3>
                </div>
                <div class="box-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <label for="mau_kyso">Mẫu ký số đang áp dụng: </label>
                        <select
                                id="mau_kyso" name="mau_kyso"
                                class="form-control">
                          <option value="0">Mẫu ký số được áp dụng</option>
                        </select>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12 mau_ky_img"></div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="thongtin_mukyso">
                          <div class="checkbox">
                            <label for="thongtin_hienthi"><b>Hiển thị: </b></label><br/>
                            <label>
                              <input id="thongtin_hienthi" type="radio" name="thongtin_hienthi" class="thongtin_hienthi" value="HINHANH_THONGTIN"> Hình ảnh và thông tin
                            </label>
                            <label>
                              <input type="radio" name="thongtin_hienthi" class="thongtin_hienthi" value="HINHANH"> Hình ảnh
                            </label>
                            <label>
                              <input type="radio" name="thongtin_hienthi" class="thongtin_hienthi" value="THONGTIN"> Thông tin
                            </label>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="form-group">
                            <label for="kysotaitrang">Ký tại trang số: </label> <input
                                  name="trang" type="text" class="form-control" id="kysotaitrang"
                                  placeholder="Nhập trang số ...">
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="form-group">
                            <label for="vitri_trentrang">Vị trí trên trang: </label>
                            <select id="vitri_trentrang" name="vitri_trentrang" class="form-control">
                              <option value="tren_trai">Trên, góc trái</option>
                              <option value="tren_phai">Trên, góc phải</option>
                              <option value="duoi_trai">Dưới, góc trái</option>
                              <option value="duoi_phai">Dưới, góc phải</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <label>
                          <input type="radio" name="loai_kyso" value="KY_SAOLUC"> Ký số sao lục
                        </label>
                      </div>
                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <label>
                          <input type="radio" name="loai_kyso" value="KY_TRICKSAO"> Ký số trích sao
                        </label>
                      </div>
                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <label>
                          <input type="radio" name="loai_kyso" value="KY_SAOY"> Ký số sao y
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary btn-kyso-folder">Ký</button>
          </div>
        </div><!-- /.modal-content -->
      </form>
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
<div th:fragment="kyso_folder_auto">
  <!--Popup-->
  <!-- Modal Structure -->
  <div id="kySoFolderAutoModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <!-- form start -->
      <form role="form" method="post" action="#" id="form_kysofolder_auto" enctype="multipart/form-data">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Ký số folder</h4>
          </div>
          <div class="modal-body">
            <div class="box-body">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Path folder cần ký số</h3>
                </div>
                <div class="box-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <label for="path_folder_kyso">Path folder</label>
                        <input type="text" name="path_folder_kyso" id="path_folder_kyso"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary btn-kyso-folder-auto">Ký</button>
          </div>
        </div><!-- /.modal-content -->
      </form>
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

<div th:fragment="count_folder_auto">
  <!--Popup-->
  <!-- Modal Structure -->
  <div id="countPathModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <!-- form start -->
      <form role="form" method="post" action="#" id="countPathModal_auto_form" enctype="multipart/form-data">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">chọn Path folder</h4>
          </div>
          <div class="modal-body">
            <div class="box-body">
              <div class="box box-primary">
                <div class="box-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <label for="countPathModal_auto">Path folder</label>
                        <input type="text" name="countPathModal_auto" id="countPathModal_auto"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary btn-count-file-from-folder">Tiến hành tạo file</button>
          </div>
        </div><!-- /.modal-content -->
      </form>
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>